<h2>Edit the Task <em> <%= @task.title %> </em></h2>

<%= form_for(@task) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.check_box :completed %>
  <%= f.submit %>
<% end  %>

<p>Back to <em> <%= link_to @task.title, task_path(@task) %></em></p>
<p><%= link_to "List all Tasks", tasks_path %></p>
